#videos {
  display: flex;
  flex-flow: row;
  height: 100%;
}

#publisher {
  width: 67%;
  border: 4px solid rgba(1, 214, 214, 0.4);
  border-radius: 3px;
}

#subscribers {
  width: 33%;
  display: grid;
  border: 4px solid rgba(255, 174, 32, 0.4);
  border-radius: 3px;
}
